#corners .lt-ver{
  top:4px;
}
#corners .ld-hor{
  top:507px;
}
#corners .ld-ver{
  top:477px;
}
#corners .rt-hor{
  left:475px;
}
#corners .rt-ver{
  left: 492px; 
  top: 5px;
}
#corners .rd-ver{
  left: 491px; 
  top: 477px;
}
#corners .rd-hor{
  left: 475px; 
  top: 507px;
}
#panel{
  background:url(http://dev.margonem.pl/img/skins/halloween/panel.png);
}
#stats{
  background-image:url(http://dev.margonem.pl/img/skins/halloween/stats.png);
}
#buttons DIV {
  background-image:url(http://dev.margonem.pl/img/skins/halloween/if-buttons.png)
}
#bottombar {
  background:url(http://dev.margonem.pl/img/skins/halloween/bottom-bar.png);
}
#bchat{
  background:url(http://dev.margonem.pl/img/skins/halloween/if-buttons.png) no-repeat -136px -44px;
}
#pvpmode {
  background-image:url(http://dev.margonem.pl/img/skins/halloween/pvpmode.png);
}
#logoutbut{
  background:url(http://dev.margonem.pl/img/skins/halloween/if-buttons.png) no-repeat -68px -44px;
}
#helpbut {
  background:url(http://dev.margonem.pl/img/skins/halloween/if-buttons.png) no-repeat 0 -44px;
}
#inpchat {
  background:url(http://dev.margonem.pl/img/skins/halloween/bottom-bar.png) no-repeat -50px -10px;
}
#skillSwitch.first{
  background: url(http://dev.margonem.pl/img/skins/halloween/um_set.gif) 0px -32px;
}
#skillSwitch.second{
  background: url(http://dev.margonem.pl/img/skins/halloween/um_set.gif) 0px 0px;
}
#nick{
  color: black;text-shadow: 0px 0px 5px orange, 0px 0px 10px red, 0px 0px 5px orange;
}
#lagmeter{
  background:url(http://dev.margonem.pl/img/skins/halloween/lagometer.png);
}
#volumeSlider .marker{
  background-image:url(http://dev.margonem.pl/img/skins/halloween/music_interface.png);
}
#startbutton, #shufflebutton, #hdbutton{
  background-image:url(http://dev.margonem.pl/img/skins/halloween/music_interface.png);
}
#chat, #chattabs S{
  background-image:url(http://dev.margonem.pl/img/skins/halloween/chat.png);
}
#leorn1, #leorn2{
  display:none;
}
#chat.left {
  background-color:#444;
  background-image:url(http://dev.margonem.pl/img/skins/halloween/chat-left.png);
}
#chat.left #chattabs s {
  background-image:url(http://dev.margonem.pl/img/skins/halloween/chat-left.png);
}
#ver{
  left:545px;
}
#life1, #life2, #exp1, #exp2{
  left:535px;
}
